@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --primary: #FFC632;
    --secondary: #01037C;
}

* {
    font-family: var(--bs-body-font-family);
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #F8F7F7;
}

.fw-normal {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 1px solid #FFC632;
    background: transparent;
    padding: 8px 0;
    transition: background 0.3s ease-in-out;
}

.container {
    display: flex;
    width: 1440px;
    padding: 0 80px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

.navbar-item {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-button .button {
    display: flex;
    padding: 8px;
    gap: 8px;
    color: white;

    border-radius: 4px;
    background: var(--secondary);
    border: 1px solid transparent;

    transition: background 0.3s ease-in-out;
}

.navbar-button .button:hover {
    color: black;

    background: var(--primary);
    border: 1px solid transparent;
}

.navbar-button .button.scrolled {
    display: flex;
    padding: 8px;
    gap: 8px;
    color: black;

    border-radius: 4px;
    background: var(--primary);
    border: 1px solid transparent;

    transition: background 0.3s ease-in-out;
}

.navbar-button .button.scrolled:hover {
    color: black;

    background: #ffd876;
    border: 1px solid transparent;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-brand a {
    font-size: 18px;
    color: var(--primary);
}

#top {
    background-image: url("../img/gambar1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    padding: 40px 0;
    gap: 32px;
    flex-direction: column;
}

#top .container .content {
    display: flex;
    padding: 280px 0;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.content .home-header {
    color: var(--primary);
    text-align: center;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.content .home-small {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button {
    display: flex;
    padding: 16px 32px;
    gap: 8px;
    color: #2C2B2B;

    border-radius: 4px;
    background: var(--primary);
}

h1.header {
    text-align: center;
}

#tautan-terkait {
    background-color: #2C2B2B;
    padding: 32px 0px;
}

#visi .container .content {
    display: flex;
    gap: 84px;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
}

#visi .container .content .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#visi .container .content .text p.header {
    color: #000;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#misi .container .content {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

#misi .container .content .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#misi .container .content .main hr {
    height: 1px;
    width: 100%;
    background: #8F8686;
}

#misi .container .content p.header {
    color: #000;
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#misi .container .content .main .row {
    display: flex;
    align-items: flex-start;
    gap: 66px;
    align-self: stretch;
}

#misi .container .content .main .row .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#misi .container .content .main .row .col .body {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

#misi .container .content .main .row .col .body p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#misi .container .content .main .row .col .body p.number {
    display: inline-flex;
    padding: 6px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;

    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#struktur {
    display: flex;
}

#struktur .container {
    justify-content: center;
}

#struktur .container .content h1.header {
    color: #000;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#struktur img {
    max-width: 1280px;
    height: auto;
}

#kegiatan {
    display: flex;
}

#kegiatan .container {
    justify-content: center;
    gap: 8px;
    flex-direction: column;
}

#kegiatan .container h1.header {
    color: #000;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slider-card {
    display: flex;
    background: white;
    border-radius: 12px;
    box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.03);
    margin: 0 12px;
    justify-content: center;
    align-items: center;

    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.owl-item.active.center .slider-card {
    transform: scale(1.1);
    margin: 0 24px;
    opacity: 1;
}

.owl-carousel .owl-stage {
    height: 344px;
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 8px;
    background: white;
    border-radius: 12px;
    transition: all 0.2s;
    flex-basis: auto;
    gap: 16px;
    margin: 0 12px;
    cursor: pointer;

    overflow-wrap: break-word;
}

.card .card-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%;

    align-self: stretch;
    word-wrap: break-word;
}

.card .card-content .card-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: stretch;
}

.card .card-content .card-date {
    color: #01037C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    align-self: stretch;
}

.owl-carousel.owl-loaded {
    display: flex !important;
    flex-direction: column;
    gap: 16px;
}

.owl-nav {
    display: flex;
    justify-content: end;
    gap: 16px;
    flex-direction: row;
    padding: 0 30px;
}

.owl-nav .owl-prev {
    display: inline-flex;
    padding: 6px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #d1d1d1 !important;
    color: #d1d1d1 !important;

    font-size: 30px !important;

    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.owl-nav .owl-prev:hover {
    color: var(--primary) !important;
    border: 3px solid var(--primary) !important;
}

.owl-nav .owl-next {
    display: inline-flex;
    padding: 6px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #d1d1d1 !important;
    color: #d1d1d1 !important;

    font-size: 30px !important;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.owl-nav .owl-next:hover {
    color: var(--primary) !important;
    border: 3px solid var(--primary) !important;
}

.owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
}

.owl-dots .owl-dot.active {
    background: var(--primary) !important;
}

#berita {
    display: flex;
}

#berita .container {
    justify-content: center;
}

#berita .container .content {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

#berita .container .content h1.header {
    color: #000;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#berita .container .content .main {
    display: flex;
    align-items: flex-start;
    gap: 105px;
}

#berita .container .content .main p.left {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    width: 583px !important;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

#berita .container .content .main .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

#berita .container .content .main .right p.text {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    width: 589px;
}

#berita .container .content .main .right .button {
    color: #2C2B2B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#berita .container .content .main-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

#berita .container .content .main-content .row {
    display: flex;
    justify-content: center;
    align-self: stretch;
    gap: 20px;
    align-items: flex-start;
}

#berita .container .content .main-content .row .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 8px;
    background: white;
    border-radius: 12px;
    flex-basis: auto;
    gap: 16px;
    margin: 0 0;
    cursor: pointer;

    box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.03);
    max-width: 412px;
}

#berita .container .content .main-content .row .card img {
    max-width: auto;
    height: 270px;
    object-fit: cover;

    border-radius: 8px;
}

#galeri {
    display: flex;
}

#galeri .container {
    justify-content: center;
}

#galeri .container .content h1.header {
    color: #000;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#galeri .container .content .main-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    border-radius: 56px 0px 56px 0px;
    overflow: hidden;
}

#galeri .container .content .main-content img {
    object-fit: cover;
}

#galeri .container .content .main-content .row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#galeri .container .content .main-content .row .inside-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#pengaduan {
    display: flex;
    justify-content: center;
}

#pengaduan .container {
    margin: 40px 0px;
    justify-content: center;
    background-image: url("../img/CTA.png");
    background-position: center;
    background-repeat: no-repeat;
}

#pengaduan .content {
    padding: 115px 0;
    align-items: center;
}

#pengaduan .main-content {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}

#pengaduan .container .content h1.header {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#pengaduan .container .content p.text {
    display: flex;
    width: 458px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#pengaduan .button {
    color: #2C2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer {
    margin-top: 40px;
}

footer .footer {
    background-color: var(--primary);
}

footer .second-footer {
    background-color: #000;
}

footer .second-footer .content {
    padding: 0;
}

footer .second-footer .container {
    padding: 10px 80px;
}

footer .second-footer ul {
    display: flex;
    align-items: flex-start;
    gap: 43px;
}

footer .second-footer li {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    list-style: none;
}

footer .second-footer p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

footer .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 143px;
    flex-direction: row;
}

footer .main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

footer .contact h1 {
    color: #2C2B2B;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .contact p {
    align-self: stretch;

    color: #2C2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

footer .post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

footer .post h1 {
    color: #2C2B2B;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

footer .post ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

footer .post li {
    color: #2C2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    list-style: none;
}