@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --primary: #FFC632;
    --secondary: #01037C;
}

* {
    font-family: var(--bs-body-font-family);
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #F8F7F7;
}

.fw-normal {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.header {
    font-size: 46px !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 2px solid #FFC632;
    background: transparent;
    padding: 8px 0;
    transition: background 0.3s ease-in-out;
}

.container {
    display: flex;
    max-width: 1440px;
    padding: 0 80px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

header .container {
    display: flex;
    gap: 28px;
}

.navbar {
    display: flex;
    flex: 1 0 0;
    max-width: 867px;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

.navbar-item {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: color 0.2s ease-in-out;
}

.navbar-item:hover {
    color: var(--primary);
}

.navbar-button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-button .button {
    display: flex;
    padding: 8px;
    gap: 8px;
    color: white;

    border-radius: 4px;
    background: var(--secondary);
    border: 1px solid transparent;

    transition: background 0.3s ease-in-out;
}

.navbar-hamburger {
    display: none;
}

.navbar-button .button:hover {
    color: black;

    background: var(--primary);
    border: 1px solid transparent;
}

.navbar-button .button.scrolled {
    display: flex;
    padding: 8px;
    gap: 8px;
    color: black;

    border-radius: 4px;
    background: var(--primary);
    border: 1px solid transparent;

    transition: background 0.3s ease-in-out;
}

.navbar-button .button.scrolled:hover {
    color: black;

    background: #ffd876;
    border: 1px solid transparent;
}

.navbar-hamburger-button {
    display: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-brand a {
    font-size: 18px;
    color: var(--primary);
}

#top {
    background-image: url("../img/gambar1.png");
    /* background-color: darkgray; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

#top .container .content {
    display: flex;
    padding: 280px 0;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.content .home-header {
    color: var(--primary);
    text-align: center;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.content .home-small {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button {
    display: flex;
    padding: 16px 32px;
    gap: 8px;
    color: #2C2B2B;

    border-radius: 4px;
    background: var(--primary);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: var(--primary);
    background: #01037C;
}

h1.header {
    text-align: center;
}

#tautan-terkait {
    background-color: #2C2B2B;
    padding: 32px 0px;
    display: flex;
}

#visi .content {
    display: flex;
    gap: 84px;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}

#visi .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#visi .header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#visi p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#misi .content {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    margin-top: 80px;
}

#misi .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#misi hr {
    height: 1px;
    width: 100%;
    background: #8F8686;
}

#misi p.header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#misi .row {
    display: flex;
    align-items: flex-start;
    gap: 66px;
    align-self: stretch;
}

#misi .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#misi .body {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

#misi p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#misi p.number {
    display: inline-flex;
    padding: 6px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;

    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#struktur {
    display: flex;
}

#struktur .container {
    justify-content: center;
}

#struktur .content {
    margin-top: 80px;
}

#struktur h1.header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#struktur img {
    width: 100%;
    height: auto;
}

#kegiatan {
    display: flex;
}

#kegiatan .container {
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    margin-top: 80px;
}

#kegiatan h1.header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 8px;
    background: white;
    border-radius: 12px;
    transition: all 0.2s;
    flex-basis: auto;
    gap: 16px;
    cursor: pointer;

    overflow-wrap: break-word;
    box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.07);
}

.card .card-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%;

    align-self: start;
    word-wrap: break-word;
}

.card .card-content .card-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: stretch;
}

.card .card-content .card-date {
    color: #01037C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    align-self: stretch;
}

.card img {
    width: 100%;
    height: auto;
}

.swiper {
    max-width: calc(1440px - 160px);
    height: 350px;
    display: flex !important;
}

.swiper-slide {
    transition: all .3s ease;
    transform: scale(0.92) !important;
    opacity: 0.7;

    &.swiper-slide-active {
        transform: scale(1) !important;
        opacity: 1;
        z-index: 2;
    }
}

.swiper-nav {
    position: absolute;
    top: 90%;
    width: 11%;
    left: 89%;
}

.swiper-button-prev,
.swiper-button-next {
    display: inline-flex;
    padding: 6px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px !important;
    height: 55px !important;
    border-radius: 50%;
    border: 3px solid #d1d1d1 !important;
    color: #d1d1d1 !important;
    color: #d1d1d1 !important;
    font-size: 30px !important;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {

    color: var(--primary) !important;
    border: 3px solid var(--primary) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none !important;
}

#berita {
    display: flex;
}

#berita .container {
    justify-content: center;
}

#berita .content {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    margin-top: 80px;
}

#berita h1.header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#berita .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 630px));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

#berita p.left {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: self-start;
}

#berita .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

#berita .right p.text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

#berita .right .button {
    color: #2C2B2B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#berita .right .button:hover {
    color: var(--primary);
}

#berita .main-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 408px));
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
}

#berita .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 8px;
    background: white;
    border-radius: 12px;
    flex-basis: auto;
    gap: 16px;
    margin: 0 0;
    cursor: pointer;

    box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.07);
}

#berita .card img {
    max-width: auto;
    height: 270px;
    object-fit: cover;

    border-radius: 8px;
}

#galeri {
    display: flex;
}

#galeri .container {
    justify-content: center;
}

#galeri .content {
    margin-top: 80px;
}

#galeri h1.header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#galeri .main-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    border-radius: 56px 0px 56px 0px;
    overflow: hidden;
}

#galeri img {
    /* object-fit: cover; */
    width: 100%;
    height: auto;
}

#galeri .row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#galeri .inside-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

#pengaduan {
    display: flex;
    justify-content: center;
}

#pengaduan .container {
    width: 1440px;
    justify-content: center;
    background-image: url("../img/CTA.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    /* background-color: #2C2B2B; */
}

#pengaduan .content {
    padding: 115px 0;
    align-items: center;
}

#pengaduan .main-content {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}

#pengaduan h1.header {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#pengaduan p.text {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#pengaduan .button {
    color: #2C2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#pengaduan .button:hover {
    color: var(--primary);
}

footer {
    margin-top: 80px;
}

footer .content {
    padding: 40px 0;
}

footer .footer {
    background-color: var(--primary);
}

footer .second-footer {
    background-color: #000;
}

footer .second-footer .content {
    padding: 0;
}

footer .second-footer .container {
    padding: 10px 80px;
}

footer .second-footer ul {
    display: flex;
    align-items: flex-start;
    gap: 43px;
}

footer .second-footer li {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    list-style: none;
}

footer .second-footer p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

footer .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* gap: 143px; */
    flex-direction: row;
}

footer .main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

footer .contact h1 {
    color: #2C2B2B;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .contact p {
    align-self: stretch;

    color: #2C2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

footer .post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

footer .post h1 {
    color: #2C2B2B;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

footer .post ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

footer .post li {
    color: #2C2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    list-style: none;
}

@media screen and (max-width: 1366px) {
    .swiper {
        max-width: calc(1280px - 80px);
        height: 335px;
    }

    .swiper-nav {
        width: 12%;
        left: 88%;
    }
}

@media screen and (max-width: 1080px) {
    .navbar-hamburger-button {
        display: inline-block;
    }

    .swiper {
        max-width: calc(1080px - 80px);
        height: 300px;
    }

    .swiper-nav {
        top: 88%;
        width: 14%;
        left: 86%;
    }

    #menuBtn {
        color: var(--primary);
    }

    .navbar {
        justify-content: end;
        gap: 32px;
    }

    .navbar-button {
        display: none;

        flex-direction: column;
        align-items: flex-end;
        place-content: flex-end space-around;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        gap: 12px;
        padding: 12px 80px;
        background-color: var(--secondary);

        border-bottom: 2px solid #FFC632;
    }
}

@media screen and (max-width: 1024px) {
    .swiper {
        max-width: calc(1024px - 80px);
        height: 280px;
    }

    .swiper-nav {
        width: 15%;
        left: 85%;
    }

    .container {
        max-width: 1024px;
        padding: 0 40px;
    }

    .content .home-header {
        font-size: calc(68px * 0.86);
    }

    .content .home-small {
        font-size: calc(28px * 0.86);
    }

    .header {
        font-size: calc(46px * 0.86) !important;
    }

    .navbar-button {
        padding: 12px 40px;
    }

    #visi img {
        max-width: 447px;
    }

    #berita p.left {
        font-size: calc(32px * 0.92);
    }

    #galeri .row {
        flex-direction: column;
    }

    #galeri .inside-row {
        gap: 20px;
    }

    footer .second-footer .container {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 880px) {
    header {
        background-color: var(--secondary);
    }

    .swiper {
        max-width: calc(768px - 40px);
        height: 350px;
        display: flex !important;
    }

    .swiper-nav {
        width: 18%;
        left: 83%;
    }

    #top .container .content {
        padding: 180px 0;
    }

    .navbar-hamburger {
        display: inline-block;
    }

    #menu {
        display: inline-block;
        color: var(--primary);
    }

    .navbar-hamburger-button {
        display: none;
    }

    .navbar {
        display: none;

        flex-direction: column;
        align-items: flex-start;
        place-content: flex-end space-around;
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        gap: 12px;
        padding: 20px 20px;
        background-color: var(--secondary);

        /* border-bottom: 2px solid #FFC632; */

        .navbar-menu {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .navbar-button {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 0 20px;
            padding-bottom: 20px;
        }
    }

    .container {
        max-width: 870px;
    }

    .content .home-header {
        font-size: calc(68px * 0.72);
    }

    .content .home-small {
        font-size: calc(28px * 0.72);
    }

    .header {
        font-size: calc(46px * 0.72) !important;
    }

    #berita p.left {
        font-size: calc(32px * 0.72);
    }

    #tautan-terkait .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #tautan-terkait img {
        width: auto;
        height: 90%;
    }

    #visi img {
        width: 100%;
    }

    #visi .container .content {
        gap: 32px;
        flex-direction: column;
    }

    #visi .container .content .text {
        text-align: center;
        align-items: center;
    }

    #misi .container .content .main .row .col {
        gap: 16px;
    }

    #misi .container .content .main .row .col .body {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-direction: column;
    }

    #misi .container .content .main .row .col .body p {
        font-size: 16px;
        text-align: center;
    }

    #misi .container .content .main .row .col .body p.number {
        padding: 6px 19px;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #misi .container .content .main .row {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        flex-direction: column;
    }

    #berita .container .content .main {
        grid-template-columns: repeat(1, minmax(235px, 630px));
    }

    #berita .container .content .main p.left {
        text-align: center;
        width: auto !important;
    }

    #berita .container .content .main .right {
        align-items: center;
    }

    #berita .container .content .main .right p.text {
        text-align: center;
        width: auto;
    }

    footer .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    footer .contact {
        align-items: center;
    }

    footer .contact p,
    footer .contact h1 {
        text-align: center;
    }

    footer .post {
        align-items: center;
    }

    footer .post ul {
        align-items: center;
        text-align: center;
    }

    footer .second-footer .container {
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (max-width: 845px) {
    .swiper {
        max-width: calc(768px - 40px);
        height: 320px;
    }

    .swiper-nav {
        top: 88%;
        width: 19%;
        left: 82%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0px 20px;
    }

    .swiper {
        max-width: calc(768px - 20px - 20px);
        height: 315px;
    }

    .swiper-nav {
        top: 88%;
        width: 19%;
        left: 82%;
    }

    #tautan-terkait {
        padding: 24px 0px;
    }

    #tautan-terkait .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #tautan-terkait img {
        width: auto;
        height: 80%;
    }
}

@media screen and (max-width: 736px) {
    .swiper {
        max-width: 660px;
        height: 300px;
    }

    .swiper-nav {
        top: 85%;
        width: 21%;
        left: 80%;
    }
}

@media screen and (max-width: 645px) {
    .swiper {
        max-width: calc(645px - 40px);
        height: 300px;
    }

    .swiper-nav {
        top: 85%;
        width: 24%;
        left: 77%;
    }

    #tautan-terkait .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {
    #top .container .content {
        padding: 140px 0;
    }

    .swiper {
        max-width: 325px;
        height: 300px;
    }

    .swiper-nav {
        top: 85%;
        width: 42%;
        left: 60%;
    }

    footer .second-footer ul {
        gap: 8px;
    }

    .content .home-header {
        font-size: calc(68px * 0.62);
    }

    .content .home-small {
        font-size: calc(28px * 0.62);
    }

    .header {
        font-size: calc(46px * 0.62) !important;
    }


    #tautan-terkait .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #tautan-terkait img {
        width: auto;
        height: 50%;
    }
}

@media screen and (max-width: 390px) {
    .container {
        max-width: 390px;
    }

    .content .home-header {
        font-size: calc(68px * 0.58);
    }

    .content .home-small {
        font-size: calc(28px * 0.58);
    }

    #berita p.left {
        font-size: calc(32px * 0.62);
    }

    footer .main-content {
        flex-direction: column;
    }
}

.bg-secondary {
    background-color: #01037C;
}

.berita {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#detailBerita .container {
    margin-top: 120px;
}

.berita a {
    font-size: 32px;
    text-decoration: none;
    color: #000;
}

.berita-image {
    width: 100%;
    height: auto;
}

.berita-header {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.berita-header hr {
    height: 2px;
    width: 100%;
    background: var(--primary);
    border: none;
}

.berita-info hr {
    height: 16px;
    width: 1px;
    background: #000;
    border: none;
}

.berita-title-section {
    display: flex;
    gap: 42px;
    align-items: center;
}

.berita-title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    max-width: 1135px;
}

.berita-info {
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 48px;


    color: #767171;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.berita-info .penulis {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.berita-info .tanggal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.berita-info .penonton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.berita-body .lokasi {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.berita-body p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    /* Each item takes up 100% of the container */
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 6px;
}

.indicator {
    width: 24px;
    height: 8px;
    background-color: #aaa;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.indicator.active {
    background-color: var(--primary);
}

.back-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {

    .berita-title {
        font-size: 24px;

        max-width: 820px;
    }

    .berita-info {
        gap: 32px;
    }

    .berita-body p {
        font-size: 16px;
    }

    .indicator {
        width: 12px;
    }
}

@media screen and (max-width: 768px) {
    #detailBerita .container {
        margin-top: 80px;
    }

    .back {
        display: none !important;
    }

    .back-mobile {
        display: block;
    }

    .berita-title {
        text-align: start;
    }

    .berita-info {
        gap: 24px;
        flex-wrap: wrap;
    }

    .berita-title-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .berita-title-section a {
        display: flex;
        font-size: 16px;
        align-items: center;
        gap: 4px;
    }

    .berita-title-section i {
        font-size: 12px;
    }
}

#halamanPengaduan .container {
    margin-top: 80px;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

#halamanPengaduan h1.header {
    color: #242222;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#halamanPengaduan a {
    font-size: 32px;
    text-decoration: none;
    color: #000;
}

.form-pengaduan {
    display: flex;
    gap: 8px;
    align-items: center;
}

.pengaduan {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    background: #F9C84B;
}

.pengaduan form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.pengaduan-header {
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background: #2C2B2B;
}

.pengaduan-header h1 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.klarifikasi-laproan {
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;

    color: #FFF;
}

.pengaduan-header hr {
    width: 100%;
}

.radio-klarifikasi-laporan {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.radio-klarifikasi-laporan input[type="radio"] {
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 3px solid #FFC632;
    border-radius: 50%;

    display: grid;
    place-content: center;
}

.radio-klarifikasi-laporan input[type="radio"]::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    transition: 120ms background-color ease-in-out;
}

.radio-klarifikasi-laporan input[type="radio"]:checked::before {
    background-color: #3678F9;
}

input[type="text"] {
    width: 100%;
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;

    color: #5E6366;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea {
    width: 100%;
    height: auto;
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 4px;

    color: #5E6366;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pengirim {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.radio-pengirim {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #2C2B2B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.radio-pengirim input[type="radio"] {
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;

    display: grid;
    place-content: center;
}

.radio-pengirim input[type="radio"]::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    transition: 120ms background-color ease-in-out;
}

.radio-pengirim input[type="radio"]:checked::before {
    background-color: #3678F9;
}

form .button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    color: white;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 4px;


    font-size: 16px;
    font-weight: 600;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

form .button:hover {
    color: var(--secondary);
    background: transparent;
    border: 2px solid var(--secondary);
}

.form-group {
    display: flex;
    gap: 4px;
    flex-direction: column;
    width: 100%;
}

.required::after {
    content: '*';
    color: red;
}

.back-pengaduan {
    display: none;
}

@media screen and (max-width: 880px) {
    .back-pengaduan {
        display: block;
    }

    #halamanPengaduan a {
        font-size: 24px;
        text-decoration: none;
        color: #000;
    }

    .pengaduan {
        width: 100%;
    }

    .pengaduan-header {
        width: 100%;
    }

    .pengaduan form {
        gap: 16px;
        width: 100%;
    }

    .form-pengaduan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 690px) {
    .pengaduan-header {
        align-items: flex-start;
    }

    .klarifikasi-laproan {
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
        flex-direction: column;
    }

    .radio-klarifikasi-laporan {
        font-size: 16px;
    }

    .pengirim {
        align-items: flex-start;
        gap: 8px;
        flex-direction: column;
        width: 100%;
    }

    .pengaduan form {
        gap: 16px;
    }
}